body {
    margin: 0px;
    font-family: helvetica;
    font-weight: 500;
}
#logout {
    position: absolute;
    top: 2vh;
    right: 2vw;
    padding: 10px 20px;
    background-color: #bbbbbb;
    color: white;
    border: none;
    border-radius: 5px;
}

button {
    transition: transform 0.2s ease, font-size 0.2s ease, filter 0.2s ease-in;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.95);
    z-index: 1;
    transform: scale(1.04);
    /*font-size: 15px;*/
}

.modal button {
    transform: scale(1);
    font-size: 13px;
}

.seat {
    width: 10vw;
    /* 1 늘리고 #seat1-24 gap 2 줄이면 됨 */
    height: 11vh;
    /* 3늘리고 .container padding-top 4 줄이면 됨 */
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    border: 1px solid #000;
    font-size: 15pt;
}
.table {
    display: grid;
    grid-template-columns: auto auto;
}
.container {
    padding-top: 14vh;
    display: grid;
    align-items: center;
    justify-content: center;
}
#seat1-12,
#seat13-24 {
    grid-column-gap: 6vw;
    grid-template-columns: auto auto auto;
}
#seat25-28 {
    grid-template-columns: auto auto auto auto;
}
#frame {
    width: 100vw;
    height: 100vh;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    font-size: large;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 80%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    box-sizing: border-box;
    animation: fadeIn 0.3s ease-in-out;
    position: relative;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -50%);
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* seat color */
.empty {
    background-color: white;
}
.used {
    background-color: pink;
}
.current-user {
    background-color: lightyellow;
}

/* status color */
#status #used {
    background-color: pink;
}

#status #empty {
    background-color: white;
}

/* background position */
svg {
    position: absolute;
    z-index: -1;
}

/* status position */
#status {
    position: absolute;
    top: 5vh;
    left: 2vw;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 20px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #000;
}

#empty:hover {
    filter: none;
    z-index: auto;
    transform: none;
    font-size: inherit;
    cursor: initial;
}
