{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login Page</title>
        <link rel="stylesheet" href="{% static 'usage/login.css' %}" />
        <!-- Links to the CSS file for styling -->
    </head>
    <body>
        <div class="login-container">
            <img src="{% static 'usage/logo.png' %}" alt="University Logo" class="logo" />
            <!-- Displays the university logo -->
            <form id="loginForm" method="post">
                <!-- The login form with POST method -->
                {% csrf_token %}
                <!-- Adds a CSRF token for security -->
                <div class="error-message" id="errorMessage">&nbsp; {% if error %} {{ error }} {% endif %} &nbsp;</div>
                <!-- Displays error messages if any -->
                <div class="form-group">
                    <label for="id">Student ID</label>
                    <!-- Label for the input field for student for student id -->
                    <input type="text" id="id" name="id" required />
                    <!-- Input field for the student ID -->
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <!-- Label for the password input field -->
                    <input type="password" id="password" name="password" required />
                    <!-- Input field for the password -->
                    <a href="{% url 'change_password' %}" class="changePassword">Forgot your password?</a>
                    <!-- Link to the password reset page -->
                </div>
                <button type="submit" class="login-button">Login</button>
                <!-- Submit button for the form -->
            </form>
            <a href="{% url 'create_account' %}" class="create-account">Create account</a>
            <!-- Link to the account creation page -->
        </div>
    </body>
</html>
