{% load static %}
<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'usage/seats.css' %}" />
    </head>
    <body>
        <button id="logout" onclick="logout()">logout</button>

        <div id="status">
            <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 5px">
                <button class="circle" id="empty" style="margin-right: 10px; margin-bottom: 0px" disabled></button>
                <h4 id="emptyInfo" style="margin-right: 10px; margin-bottom: 0px; margin-top: 0px"></h4>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 5px">
                <button class="circle" id="used" style="margin-right: 10px; margin-bottom: 0px" onclick="openColorModal('used')"></button>
                <h4 id="usedInfo" style="margin-right: 10px; margin-bottom: 0px; margin-top: 0px"></h4>
            </div>
            <div id="colorModal" class="modal">
                <div class="modal-content">
                    <p>색을 선택하세요:</p>
                    <input type="color" id="colorPicker" />
                    <button id="applyColor">적용</button>
                </div>
            </div>
        </div>

        <div id="frame">
            <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                <line x1="38vw" y1="43vh" x2="88vw" y2="43vh" stroke="black" stroke-width="4" />
                <line x1="63vw" y1="13vh" x2="63vw" y2="73vh" stroke="black" stroke-width="4" />
                <rect x="20vw" y="0vh" width="60vw" height="1vh" fill="lightblue" stroke="black" stroke-width="1" />
                <line x1="30vw" y1="0" x2="30vw" y2="1vh" stroke="black" stroke-width="1" />
                <line x1="40vw" y1="0" x2="40vw" y2="1vh" stroke="black" stroke-width="1" />
                <line x1="50vw" y1="0" x2="50vw" y2="1vh" stroke="black" stroke-width="1" />
                <line x1="60vw" y1="0" x2="60vw" y2="1vh" stroke="black" stroke-width="1" />
                <line x1="70vw" y1="0" x2="70vw" y2="1vh" stroke="black" stroke-width="1" />
                <rect x="10vw" y="98.5vh" width="12vw" height="1.5vh" fill="grey" stroke="black" stroke-width="1" />
                <text x="16vw" y="99.5vh" fill="black" font-size="1.8vh" text-anchor="middle" dominant-baseline="middle">Door</text>
                <rect x="78vw" y="98.5vh" width="12vw" height="1.5vh" fill="grey" stroke="black" stroke-width="1" />
                <text x="84vw" y="99.5vh" fill="black" font-size="1.8vh" text-anchor="middle" dominant-baseline="middle">Door</text>
            </svg>
            <div>
                <div class="container" id="seat1-12">
                    <div class="table">
                        {% for seat in seats %} {% if seat.seat_number <= 4 %}
                        <button id="seat{{ seat.seat_number }}" class="seat {% if seat.is_used %}used{% else %}empty{% endif %} {% if seat.seat_number == user_seat_number %}current-user{% endif %}">{{ seat.seat_number }}</button>
                        {% endif %} {% endfor %}
                    </div>
                    <div class="table">
                        {% for seat in seats %} {% if seat.seat_number > 4 and seat.seat_number <= 8 %}
                        <button id="seat{{ seat.seat_number }}" class="seat {% if seat.is_used %}used{% else %}empty{% endif %} {% if seat.seat_number == user_seat_number %}current-user{% endif %}">{{ seat.seat_number }}</button>
                        {% endif %} {% endfor %}
                    </div>
                    <div class="table">
                        {% for seat in seats %} {% if seat.seat_number > 8 and seat.seat_number <= 12 %}
                        <button id="seat{{ seat.seat_number }}" class="seat {% if seat.is_used %}used{% else %}empty{% endif %} {% if seat.seat_number == user_seat_number %}current-user{% endif %}">{{ seat.seat_number }}</button>
                        {% endif %} {% endfor %}
                    </div>
                </div>
                <div class="container" id="seat13-24">
                    <div class="table">
                        {% for seat in seats %} {% if seat.seat_number > 12 and seat.seat_number <= 16 %}
                        <button id="seat{{ seat.seat_number }}" class="seat {% if seat.is_used %}used{% else %}empty{% endif %} {% if seat.seat_number == user_seat_number %}current-user{% endif %}">{{ seat.seat_number }}</button>
                        {% endif %} {% endfor %}
                    </div>
                    <div class="table">
                        {% for seat in seats %} {% if seat.seat_number > 16 and seat.seat_number <= 20 %}
                        <button id="seat{{ seat.seat_number }}" class="seat {% if seat.is_used %}used{% else %}empty{% endif %} {% if seat.seat_number == user_seat_number %}current-user{% endif %}">{{ seat.seat_number }}</button>
                        {% endif %} {% endfor %}
                    </div>
                    <div class="table">
                        {% for seat in seats %} {% if seat.seat_number > 20 and seat.seat_number <= 24 %}
                        <button id="seat{{ seat.seat_number }}" class="seat {% if seat.is_used %}used{% else %}empty{% endif %} {% if seat.seat_number == user_seat_number %}current-user{% endif %}">{{ seat.seat_number }}</button>
                        {% endif %} {% endfor %}
                    </div>
                </div>
            </div>
            <div class="container" id="seat25-28">
                {% for seat in seats %} {% if seat.seat_number > 24 %}
                <button id="seat{{ seat.seat_number }}" class="seat {% if seat.is_used %}used{% else %}empty{% endif %} {% if seat.seat_number == user_seat_number %}current-user{% endif %}">{{ seat.seat_number }}</button>
                {% endif %} {% endfor %}
            </div>
        </div>
        <div id="seatModal" class="modal" style="position: absolute">
            <div class="modal-content">
                <span class="close" onclick="closeModal()" style="position: relative; right: 10px">&times;</span>
                <p id="modalText"></p>
                <button id="actionButton" onclick="toggleSeatStatus()">Action</button>
            </div>
        </div>
        <!-- time 모달 추가 -->
        <div id="timeModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeTimeModal()">&times;</span>
                <p>Please enter the usage time(min):</p>
                <input type="number" id="usageTime" placeholder="Time in minutes" />
                <button onclick="enterButtonClick()">Enter</button>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                fetchSeatInfo();
            });

            let userSeat = null;

            let emptySeat = 0;
            let usedSeat = 0;

            function fetchSeatInfo() {
                emptySeat = 0;
                usedSeat = 0;
                fetch("/get_seat_info/")
                    .then((response) => response.json())
                    .then((data) => {
                        if (data.status === "success") {
                            userSeat = data.user_seat;
                            data.seats.forEach((seat) => {
                                const seatButton = document.getElementById(`seat${seat.seat_number}`);
                                if (seatButton) {
                                    seatButton.classList.remove("used", "empty", "current-user");
                                    seatButton.classList.add(seat.is_used ? "used" : "empty");
                                    if (seat.seat_number === userSeat) {
                                        seatButton.classList.add("current-user");
                                    }
                                    if (seat.is_used) {
                                        usedSeat++;
                                    } else {
                                        emptySeat++;
                                    }
                                    seatButton.dataset.user = seat.user;
                                    seatButton.dataset.startTime = convertToKRT(seat.start_time);
                                    seatButton.dataset.expectedDuration = seat.expected_duration;
                                }
                            });
                            emptyInfo();
                            usedInfo();
                        }
                    });
            }
            function convertToKRT(utcTime) {
                const date = new Date(utcTime);
                const krtTime = new Date(date.getTime());
                const month = String(krtTime.getMonth() + 1).padStart(2, "0");
                const day = String(krtTime.getDate()).padStart(2, "0");
                const hours = String(krtTime.getHours()).padStart(2, "0");
                const minutes = String(krtTime.getMinutes()).padStart(2, "0");
                return `${month}월${day}일 ${hours}시${minutes}분`;
            }

            function emptyInfo() {
                document.querySelector("#emptyInfo").innerHTML = `empty: ${emptySeat}`;
            }

            function usedInfo() {
                document.querySelector("#usedInfo").innerHTML = `using: ${usedSeat}`;
            }

            function logout() {
                window.location.href = "/";
            }

            document.querySelectorAll(".seat").forEach((button) => {
                button.addEventListener("click", function () {
                    openModal(this);
                });
            });

            let selectedSeat;

            function openModal(seat) {
                selectedSeat = seat;
                const seatNumber = seat.innerText;
                const seatUser = seat.dataset.user;
                const startTime = seat.dataset.startTime;
                const expectedDuration = seat.dataset.expectedDuration;
                const actionButton = document.getElementById("actionButton");
                document.getElementById("modalText").innerText = `Seat Number: ${seatNumber}`;

                if (seat.classList.contains("used") && seatUser !== "{{ user.username }}") {
                    actionButton.style.display = "none";
                    document.getElementById("modalText").innerText += `\nUsed by: ${seatUser}\nStart Time: ${startTime}\nExpected Duration: ${expectedDuration} min`;
                } else {
                    actionButton.style.display = "block";
                    if (seat.classList.contains("used")) {
                        actionButton.innerText = "End";
                    } else {
                        actionButton.innerText = userSeat ? "Change" : "Use";
                    }
                }

                document.getElementById("seatModal").style.display = "block";
            }

            function closeModal() {
                document.getElementById("seatModal").style.display = "none";
            }

            function openTimeModal() {
                document.getElementById("timeModal").style.display = "block";
            }

            function closeTimeModal() {
                document.getElementById("timeModal").style.display = "none";
            }

            function setSeatColor(seat, isUsed, userSeatNumber) {
                seat.classList.remove("used", "empty", "current-user");
                seat.classList.add(isUsed ? "used" : "empty");
                if (seat.innerText == userSeatNumber) {
                    seat.classList.add("current-user");
                }
            }

            function toggleSeatStatus() {
                if (selectedSeat.classList.contains("used")) {
                    updateSeatStatus("end");
                } else if (userSeat) {
                    changeSeat();
                } else {
                    closeModal();
                    openTimeModal();
                }
            }

            function updateSeatStatus(action) {
                const seatNumber = selectedSeat.innerText;
                const csrfToken = "{{ csrf_token }}";
                const usageTime = document.getElementById("usageTime").value;

                fetch("/update_seat_status/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-CSRFToken": csrfToken,
                    },
                    body: `seat_number=${seatNumber}&action=${action}&usage_time=${usageTime}`,
                })
                    .then((response) => response.json())
                    .then((data) => {
                        if (data.status === "success") {
                            setSeatColor(selectedSeat, data.is_used, data.user_seat_number);
                            userSeat = data.user_seat_number; // 업데이트된 좌석 정보 반영
                            fetchSeatInfo();
                        }
                        closeModal();
                        closeTimeModal();
                    });
            }

            function changeSeat() {
                const newSeatNumber = selectedSeat.innerText;
                const csrfToken = "{{ csrf_token }}";

                fetch("/change_seat/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-CSRFToken": csrfToken,
                    },
                    body: `new_seat_number=${newSeatNumber}`,
                })
                    .then((response) => response.json())
                    .then((data) => {
                        if (data.status === "success") {
                            fetchSeatInfo();
                        }
                        closeModal();
                    });
            }

            window.onclick = function (event) {
                if (event.target == document.getElementById("seatModal")) {
                    closeModal();
                }
                if (event.target == document.getElementById("timeModal")) {
                    closeTimeModal();
                }
                if (event.target == document.getElementById("colorModal")) {
                    closeColorModal();
                }
            };

            function enterButtonClick() {
                const usageTime = document.getElementById("usageTime").value;
                if (usageTime) {
                    updateSeatStatus("use");
                } else {
                    alert("Please enter the usage time.");
                }
            }

            let colorBtn = "";

            function openColorModal(statusBtn) {
                colorBtn = statusBtn;
                document.getElementById("colorModal").style.display = "block";
            }

            function closeColorModal() {
                document.getElementById("colorModal").style.display = "none";
            }

            document.getElementById("applyColor").onclick = function () {
                const color = document.getElementById("colorPicker").value;
                document.getElementById(colorBtn).style.backgroundColor = color;
                document.getElementById(colorBtn).style.color = complementColor(color);

                const seatButtons = document.querySelectorAll(`.seat.${colorBtn}`);
                seatButtons.forEach((button) => {
                    if (!button.classList.contains("current-user")) {
                        button.style.backgroundColor = color;
                        button.style.color = complementColor(color);
                    }
                });

                document.getElementById("colorModal").style.display = "none";
            };

            function complementColor(btncolor) {
                const color = parseInt(btncolor.slice(1), 16);
                const complement = 0xffffff ^ color;
                return "#" + complement.toString(16).padStart(6, "0");
            }
        </script>
    </body>
</html>
